html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
}

.wrap > .container {
    padding: 23px 107px 30px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 23px 107px 30px;
    background: url("../../img/header_bgr.png") no-repeat 50% -72px;
    /*background-position: 10px ;*/
}

.header__left{
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.header-contact{
    color: #000000;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
}

.header-contact__phone{
    margin-bottom: 13px;
}

.header-contact__mail{

}

.header__title{
    color: #000000;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    line-height: 48px;
}

.header__rigth{

}

.header__img{
    display: block;
}

.footer{
    padding: 17px 107px 30px;
    background: url("../../img/header_bgr.png") no-repeat 50% -30px;
}

.footer-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end;
}

.footer__logo{
    margin-right: 37px;
}

.footer_img{
    display: block;
}

.footer-content{

}

.footer__contact{
    margin-bottom: 12px;
}

.footer__contact-item{
    color: #000000;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;

}

.footer__copyr{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}

.content-wrap{
    background-color: #eeeeee;

}

.comments-index{
    padding: 40px 107px 56px;
}

.comments-list{
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 25px;
}

.comment-item{
    margin-bottom: 27px;
}

.comment-item__top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 17px;
}

.comment-item__name{
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-right: 41px;
    min-width: 130px;
}

.comment-item__date{
    color: #000000;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 300;
    line-height: 18px;
}

.comment-item__text{
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.comment-add{
    width: 460px;
}

.comment-add__title{
    color: #000000;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 22px;
}

.comment-add__name{
    margin-bottom: 22px;
}

.comment-add__name > div > label{
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.comment-add__name > div > input{
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    border: none;
}

.comment-add__text > div > label{
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.comment-add__text > div > textarea{
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    background-color: #eeeeee;
    border-radius: 5px;
    border: 2px solid #000000;
}


.comment-add__btn{
    color: #000000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    background-color: #f9f9f9;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 7px 20px;
    display: block;
    margin-left: auto;
}

.content-size{
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}